*{
  margin: 0;
  padding: 0;
}

.togglerInsideBtn{
  width:100%;
  margin:5px 0;
}

.upskillNowNav{
  position: relative;
  overflow: hidden;
}



.upskillNowNavRippleEffect{
  width:2px;
  height:2px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
}

.upskillNowNavRippleEffect.upskillNowNavActive{
  animation: upskillNowNavRippleEffect 2s ease infinite;
}

@keyframes upskillNowNavRippleEffect{
  0%{
    opacity:0.5;
    transform: scale(0);
  }
  100%{
    opacity:0.8;
    transform: scale(180);
  }
}

.hireNowNav{
  position: relative;
  overflow: hidden;
}



.hireNowNavRippleEffect{
  width:2px;
  height:2px;
  background-color: #FDBA2F;
  position: absolute;
  border-radius: 50%;
}

.hireNowNavRippleEffect.hireNowNavActive{
  animation: hireNowNavRippleEffect 2s ease infinite;
}

@keyframes hireNowNavRippleEffect{
  0%{
    opacity:0.5;
    transform: scale(0);
  }
  100%{
    opacity:0.8;
    transform: scale(180);
  }
}
